name: 离线下载

on:
  workflow_dispatch:
    inputs:
      rom_url:
        description: '下载直链'
        required: true
        default: 'https://mirrorbits.lineageos.org/full/tissot/20230425/lineage-19.1-20230425-nightly-tissot-signed.zip'


jobs:
  Download:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v2

      - name: 下载文件并上传 123Pan
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"msg_type": "post", "content": {"post": {"zh_cn": {"title": "离线下载进度通知", "content": [[{"tag": "text", "text": "新下载任务已被创建: "}, {"tag": "text", "text": "下载直链：${{ github.event.inputs.rom_url }}"}]]}}}}' ${{ secrets.FEISHU }}
          cd ~
          mkdir 12
          aria2c -s 10 -x 10 -d ./12 "${{ github.event.inputs.rom_url }}"
          cd 12
          for file in *; do
            extension="${file##*.}"
            filename="${file%.*}"
            mv "$file" "${filename%-tosasitill0202}-tosasitill0202.$extension"
          done
          curl -X POST -H "Content-Type: application/json" -d '{"msg_type": "post", "content": {"post": {"zh_cn": {"title": "离线下载进度通知", "content": [[{"tag": "text", "text": "新下载任务已经下载完成!正在等待服务器上传! "}, {"tag": "text", "text": "下载直链：${{ github.event.inputs.rom_url }}"}]]}}}}' ${{ secrets.FEISHU }}
          cd ${{ github.workspace }}
          touch info.md
          echo "下载直链：${{ github.event.inputs.rom_url }}" >> info.md
          cd ~
          wget https://raw.githubusercontent.com/tosasitill/123panBANYUN/main/bin/123panshang.py
          curl_output=$(curl -X GET 'https://www.123pan.com/b/api/share/get?3294484314=1701359450-8036384-537104134&limit=100&next=18446744073709551615&orderBy=file_name&orderDirection=asc&shareKey=mkeA-ITJUh&ParentFileId=3119576&Page=1&event=homeListFile&operateType=4')
          sleep 10
          chmod +rx /home/runner/123panshang.py
          files_in_directory=$(ls ~/12/)
          if echo "$files_in_directory" | grep -qF "$curl_output"; then
            echo "找到匹配的文件，跳过执行"
          else
            echo "未找到匹配的文件，继续执行其他命令"
            python3 123panshang.py "${{ secrets.ACCOUNT }}" "${{ secrets.PASSWORD }}" ~/12/*
          fi
          curl -X POST -H "Content-Type: application/json" -d '{"msg_type": "post", "content": {"post": {"zh_cn": {"title": "搬运进度通知", "content": [[{"tag": "text", "text": "新下载任务已完成: "}, {"tag": "text", "text": "下载直链：${{ github.event.inputs.rom_url }}                             |                 "},{"tag": "a", "text": "点我跳转下载链接", "href": "https://www.123pan.com/s/mkeA-ITJUh.html"}]]}}}}' ${{ secrets.FEISHU }}
      - name: 上传文件至 Github Release
        uses: ncipollo/release-action@v1.12.0
        with:
            bodyfile: "${{ github.workspace }}/info.md"
            tag: "OUTPUT_${{ env.BUILD_TIME }}_${{ github.run_id }}"
            token: ${{ secrets.GITHUB_TOKEN }}
